<app-book-form
  (create)="bookFacade.addBook($event)"
  (edit)="changeBook($event)"
  [currentBook]="currentBook()"
/>

@for (book of bookFacade.books(); track book.isbn) {
  <!-- <app-book
    (rateUp)="bookFacade.doRateUp($event)"
    (rateDown)="bookFacade.doRateDown($event)"
    [book]="book"
    (edit)="changeToEditMode($event)"
  /> -->

  <app-book
    [book]="book"
    (edit)="changeToEditMode($event)"
/>

} @empty {
  Keine Bücher vorhanden
}

@if (bookFacade.loading()) {
  <h3>Lade Bücher..</h3>
}

<p>
  <strong>Anzahl Bücher:</strong> {{ bookFacade.books().length }}
</p>
