@let b = book();

<div class="card mb-4">
  <div class="card-body bg-light">
    <img class="img-thumbnail float-end"
      src="//api.angular.schule/avatar/{{ b.rating }}">
    <div class="card-title">
      <h2>
        {{ b.title }}
        <span class="badge bg-secondary me-2">{{ b.rating }}</span>
      </h2>
    </div>
    <p>{{ b.description }}</p>
    <p>Preis: {{ preisBrutto() | currency:'EUR' }}</p>

    <!-- Vorsicht, durch die Prüfung hier ist die BookComponent nicht mehr "dumm" -->
    <button [disabled]="b.rating <= 1" class="btn btn-primary me-2" (click)="doRateDown()">-1</button>
    <button [disabled]="b.rating >= 5" class="btn btn-primary"      (click)="doRateUp()">+1</button>
    <button (click)="edit.emit(b)" class="btn btn-secondary ms-2">Edit</button>

    <a [routerLink]="['/books', b.isbn]" class="btn btn-primary ms-2">Details</a>
  </div>
</div>
